

.container {
	width: 950px;
 	margin:0 auto;
	margin-top:10px;
}
.clear{
	clear:both;
	width:0 !important;
	height:0 !important;
	min-height:0 !important;
	min-width:0 !important;
	overflow:hidden;
}
body{
	background-color:#4D4D4D;	
	direction:rtl;
	font-family:Tahoma, Geneva, sans-serif;
}

/*  MENU */
div.menu{
	height:38px;
	background-color:#3b3b3b;
	border-radius:10px;
}
	
div.menu > ul{
	list-style-type:none;
	width:510px;
	margin:0 auto;
	height:40px;
	
}
div.menu li:first-child{
	border-left:0px solid white;
}
	
div.menu li{
	float:left;
	margin-right:15px;
	position:relative;	
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
		
	-webkit-transition-duration: 1800ms;	
	-moz-transition-duration: 1800ms;	
	-ms-transition-duration: 1800ms;	
	-o-transition-duration: 1800ms;
}

div.menu li:hover{
	background-color:#CCCCCC;
	-webkit-transition-duration: 350ms;
	-moz-transition-duration: 350ms;
	-ms-transition-duration: 350ms;
	-o-transition-duration: 350ms;
	
	-webkit-border-bottom-left-radius:10px;
	-moz-border-bottom-left-radius:10px;
	-ms-border-bottom-left-radius:10px;
	-o-border-bottom-left-radius:10px;
	
	-webkit-border-bottom-right-radius:10px;
	-moz-border-bottom-right-radius:10px;
	-ms-border-bottom-right-radius:10px;
	-o-border-bottom-right-radius:10px;
	
	-webkit-border-top-right-radius:10px;
	-moz-border-top-right-radius:10px;
	-ms-border-top-right-radius:10px;
	-o-border-top-right-radius:10px;
	
	-webkit-border-top-left-radius:10px;
	-moz-border-top-left-radius:10px;
	-ms-border-top-left-radius:10px;
	-o-border-top-left-radius:10px;
	
}
div.menu li:hover div,menu {
	background-color:#FFFFFF;
	}
div.menu a:hover{
	color:#010536;
	
	
}
div.menu a{
	padding:8px 18px;
	text-decoration:none;
	display:block;
	color:#FFFFFF;
	font-size:18px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

div.menu li ul{
	list-style-type:none;
	display:none;
	position:absolute;
	min-width::100%;
	border-top:3px solid transparent;
	z-index:4;
	-webkit-transition-duration: 350ms;
	-moz-transition-duration: 350ms;
	-ms-transition-duration: 350ms;
	-o-transition-duration: 350ms;
}
div.menu li:hover ul{
	display:block;
	cursor:pointer;
	
}

div.menu li li{
	float:none;	
	background-color:#333333;
	margin-top:5px;
	-webkit-transition-duration: 350ms;
	-moz-transition-duration: 350ms;
	-ms-transition-duration: 350ms;
	-o-transition-duration: 350ms;
}


												/*End Of Menu */
												
									
									
												
												/*  Slide Bar*/
div .slidebar{
	margin-top:15px;
	height:340px;
	border-radius:10px;
	margin-bottom:15px;
	
}
							
							
												/*Lef Of Slide */	
div .slidebar .leftslide{
	width:720px;
	float:left;
	overflow:hidden;
	margin:0 auto;
	
}
div .slidebar .leftslide .train{
	width:2900px;
	position:relative;	
	float:left;
	-webkit-transition:left 1600ms;
	-moz-transition:left 1600ms;
	-ms-transition:left 1600ms;
	-o-transition:left 1600ms;
}
div .slidebar .leftslide .train div{
	float:left;
}

div .slidebar .leftslide .train div img{
	display:block;
	border-radius:10px;	
}


												/* Right Of Slide */
												
div .slidebar .rightslide{
	margin-left:735px;
}
div .slidebar .rightslide img{
	border-radius:15px;	
}
div .slidebar .rightslide div{
	cursor:pointer;
	margin-bottom:13px;
	border-radius:10px;
	
}
										/*  END OF SLIDE */

										/*   Accountable  system 	*/							
div .account{
	margin-top:15px;
	text-align:center;
}	
div .account .singup, .members{	
	float:left;
	margin-left:45px;
}	
div .account .members{	

}	
div .account .system{	
	margin-left:100px;
}	
div .account a{	
	text-decoration:none;
	color:#333333;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:22px;
	font-style:normal;
	font-weight:bold;
	vertical-align:central;
	background-color:#cfced4;
	padding:1px 20px;
	border-radius:22px;
	-webkit-transition-delay:300ms;
	-moz-transition-delay:300ms;
	-ms-transition-delay:300ms;
	-o-transition-delay:300ms;
}							
div .account a:hover{		
	background-color:#333333;
	color:#cfced4;
	-webkit-transition-delay:300ms;
	-moz-transition-delay:300ms;
	-ms-transition-delay:300ms;
	-o-transition-delay:300ms;
}
									/*  MIDDLE  */
div .middle{
	width:948px;
	margin:0 auto;
	margin-top:15px;
}
div .middle .aboutus{
	float:left;
	margin-left:12px;
}
div .middle .news{
	float:left;
	margin-left:12px;
}
div .middle .download{
	margin-left:636px;
	
}

div .middle .download, .news, .aboutus{
	background-color:#3b3b3b;
	text-align:right;	
	width:300px;
	height:230px;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
}
div .middle h2{
	margin-right:20px;	
	margin-top:5px;
	color:#FFF;
}
div .middle p{
	color:#FFF;
	margin-top:10px;
	margin-right:10px;
	font-size:14px;	
	font-family:Tahoma, Geneva, sans-serif;
}
div .middlefooter  a{
	color:#FFF;	
	padding:1px 7px;
	background-color:#0596cf;
	text-decoration:none;
	font-size:15px;	
	font-family:Verdana, Geneva, sans-serif;
	margin-left:25px;
	border:6px solid #0596cf;
	border-radius:10px;	
	-webkit-transition-delay:100ms;
	-moz-transition-delay:100ms;
	-ms-transition-delay:100ms;
	-o-transition-delay:100ms;
	
}
div .middlefooter  a:hover {
	background-color:#FFF;
	color:#333;
	border:8px solid #FFF;
	-webkit-transition-delay:100ms;
	-moz-transition-delay:100ms;
	-ms-transition-delay:100ms;
	-o-transition-delay:100ms;
}

div .news table{
	width:300px;
	height:150px;
	margin-top:2px;
}
div .news td{
	text-align:right;
	vertical-align:text-top;
	height:30px;
}
div .news table .subject{
	width:250px;
	margin-right:0px;
}
div .news table .subject p{
	font-size:12px;	
}
div .news table .date p{
	font-size:12px;	
	margin-right:20px;
	width:50px;	
}
div .news table td a{
	text-decoration:none;	
	color:#FFF;
}
/*  END OF  MIDDLE */


div .middlefooter{
	width:948px;		
	margin-top:0px;
	border:0px solid blue;
	height:40px;
	float:left;
	margin-left:13px;
}
div .middlefooter .middlefooter1, .middlefooter2, .middlefooter3 {
	width:300px;		
	background-color:#3b3b3b;
	height:30px;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
}
div .middlefooter1{
	float:left;
	
}
div .middlefooter2{
	float:left;
	margin-left:12px
}
div .middlefooter3{
	margin-left:624px;
}

/*   C O N T A C T    P A G E    */

div .contact{
	width:890px;
	height:600px;
	border:0px solid red;
	margin:0 auto;
	margin-top:50px;
	padding:30px 0;
}

div .contact .left{
	float:left;
	margin-left:30px;
}
div .contact .right{
	margin-left:460px;
}
/*  Left   Contact   */
div .contact .textcontact {
	margin-top:15px;
}
div .contact .textcontact h3{
	color:#333333;
	font-size:50px;
	font-style:italic;
	margin-left:65px;
}
div .contact .left .textcontact, .name, .email, .button, .messege{
	margin:15px auto;
	margin-bottom:16px;
}
div .contact .left .name {
	margin-top:45px;
}
div .contact .left .name input, .email input{            /*  NAME    &      Email     */
	width:300px;
	height:33px;	
	margin-left:40px;
	border-radius:10px;
	border:2px inset #CCC;
}
div .contact .left .messege textarea{
	width:315px;
	height:175px;
	margin-left:40px;
	border-radius:10px;
	border:2px inset #CCC;
}
div .contact .left .button .reset{  
	margin-left:9px;
}
div .contact .left .button input{  
	margin-left:39px;                   		  /*    SEND     BUTTON  */  
	width:100px;
	height:40px;	
	font-size:18px;
	border: 3px outset #555;
	border-radius:10px;
	background-color:#222;
	color:#fff;
	-webkit-transition:100ms;
	-moz-transition:100ms;
	-ms-transition:100ms;
	-o-transition:100ms;
}
div .contact .left .button input:hover{
	background-color:#ddd;
	border: 3px outset #fff;
	color:#000;
	cursor:pointer;
	-webkit-transition:100ms;
	-moz-transition:100ms;
	-ms-transition:100ms;
	-o-transition:100ms;
}
   /*   End Of Left Part */
 div .contact .right .googlepic{
	 margin-top:45px;
}  
 div .contact .right .googlepic img{
	border-radius:10px; 
}
 div .contact .right .infoemail{
	 margin-top:5px;
	 margin-left:10px;
}
 div .contact .right .tel{
	 margin-top:10px;
	 margin-left:10px;
}
 div .contact .right h4{
	color:#222222; 
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:15px;
}

/*   End Of  Contact  Page */



												
div .frame {				/*  Start    A B O U T--U S */
	width:800px;
	height:700px;
	border:0px solid red;	
	margin:0 auto;
	margin-top:50px;
}

div .frame p{
	direction:rtl;	
	text-align:right;
	margin-right:25px;
	font-family:"Times New Roman", Times, serif;
	color:#333333;
}
div .frame span{
	margin-right:40px;	
}
div .frame .endtext{
	text-align:center;	
}
div .frame a{
	margin-left:30px;
	color:#FFF;	
	padding:3px 12px;
	background-color:#0596cf;
	text-decoration:none;
	font-size:17px;	
	font-weight:700;
	font-family:Verdana, Geneva, sans-serif;
	border:6px solid #0596cf;
	border-radius:10px;	
	-webkit-transition-delay:100ms;
	-moz-transition-delay:100ms;
	-ms-transition-delay:100ms;
	-o-transition-delay:100ms;	
}

div .frame a:hover{
	background-color:#FFF;
	color:#333;
	border:8px solid #FFF;
	-webkit-transition-delay:100ms;
	-moz-transition-delay:100ms;
	-ms-transition-delay:100ms;
	-o-transition-delay:100ms;	
}														
/*-------------------End Of About Us-----------------*/
/*---------------------Login ------------------------------*/
div.login{
	min-height:500px;
	margin:0 auto;
	margin-top:100px;
	width:500px;	
}
div.login .username, .password, .apply{
	width:400px;
	margin:0 auto;
	margin-top:10px;
}
div.login .password{
	
}
div.login .apply{
	
}
div.login input{
	width:270px;
	height:35px;
	border:2px inset #CCC;
}
div.login .apply input{
	width:110px;
	height:38px;
	border:2px outset #333;
	background-color:#444;
	border-radius:8px;
	font-size:16px;
	font-weight:bold;
	color:#FFF;
}
div.login .apply input:hover{
	border:2px outset #eee;
	background-color:#fff;	
	color:#000;
	-webkit-transition-duration:400ms;
	-moz-transition-duration:400ms;
	-o-transition-duration:400ms;
	-ms-transition-duration:400ms;
}